@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
}

.heading-home {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 60px;
  font-weight: 700;
  margin: 0 auto;
  top: 25%;
  left: 35%;
}
.sub-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  padding: 10px;
}

.sub-nav > .logo {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 20px;
  font-weight: 700;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
